/* CARD */

.card {
	width: 370px;
	height: 600px;
	background-color: var(--bg-card);
	box-shadow: var(--shadow);
	border-radius: 10px;
	position: relative;
}

/* BUTTON */

.btn {
	width: 120px;
	text-transform: var(--text-transform);
	font-size: 16px;
	font-weight: var(--weight);
	color: var(--text-btn);
	letter-spacing: 3px;
	border: 2px solid var(--border);
	padding: 12px 35px;
	border-radius: 20px;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		color: var(--text);
		background-color: var(--bg-btn-hover);
	}
}

/* CARD'S TOP */

.top {
	background: var(--bg-card-top);
	height: 80%;
	padding: var(--padding);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	overflow: hidden;
	border-radius: 10px;
}

.price {
	display: flex;
	justify-content: space-between;
	align-items: center;

	img {
		max-width: 15%;
	}

	span {
		font-size: 18px;
	}
}

.info {
	p {
		margin: 25px 0;
	}
	span {
		font-size: 240px;
		font-weight: var(--weight);
		text-transform: var(--text-transform);
		opacity: 0.3;
		letter-spacing: 2rem;
		position: relative;
		right: 30px;
		line-height: 1;
	}
}

/* CARD'S BOTTOM */

.bottom {
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	gap: 15px;
	padding: var(--padding);

	span {
		text-transform: var(--text-transform);
		font-weight: var(--weight);
		font-size: 12px;
		letter-spacing: var(--letter-spacing);
		display: block;
		color: var(--text-bottom);
	}
}

/* SNEAKERS IMG */

.sneakers {
	position: absolute;
	width: 400px;
	left: 40px;
	bottom: 25px;
}
