/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

/* VARIABLES */

:root {
	--text: #ffffff;
	--text-h: #ffffff;
	--text-btn: rgb(2, 2, 227);
	--bg-btn-hover: rgb(2, 2, 227);
	--text-bottom: rgb(203, 198, 198);
	--letter-spacing: 7px;
	--bg: linear-gradient(-135deg, rgb(2, 2, 227), rgb(1, 1, 133));
	--bg-card-top: linear-gradient(45deg, rgb(248 23 0), rgb(160 114 14));
	--bg-card: #fff;
	--shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.6);
	--border: rgb(2, 2, 227);
	--padding: 12px;
	--text-transform: uppercase;
	--weight: 600;
}

/* GLOBAL STYLES */

body {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: var(--text);
	line-height: 1.6;
	font-size: 13px;
}

/* ROOT */

#root {
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--bg);
}

h1 {
	text-transform: var(--text-transform);
	margin-bottom: 25px;
	font-weight: var(--weight);
	font-size: 20px;
}
